Data Science Tools and Ecosystem

This notebook will provide an overview and summary of Data Science Tools and Ecosystem.

Popular languages that data scientists use include:

1. R
1. Python
1. SQL
1. Java
1. Julia

Commonly used libraries used by Data Scientists include:

1. Numpy
1. Scipy
1. Pandas
1. Matplotlib

|Data Science Tools|
|Rstudio|
|Apache Spark|
|TensorFlow|

# Objectives
  ** List popular languages for data science
  ** identify the libraries used by data scientists
  ** list data science tools
  ** evaluate arithmetic expressions in Python

### Examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

## Author
Linda Chengetanai Gumbo